<!doctype html>
<html class="no-js" ng-app="wickedBaby">
  <head>
    <meta charset="utf-8">
    <title>Hello Teacher!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="../bower_components/sweetalert/lib/sweet-alert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/sweetalert/lib/sweet-alert.css">
    <!-- <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"> -->
  </head>
  <body ng-controller="TeacherCtrl">
    <!-- <div ng-view></div> -->
    <div class="threshold">
      <span>Threshold</span>
      <input type="text" ng-model="threshold"></input>
    </div>
    <div>{{percentage}}</div>
    <a class="logout" href="/logout" ng-click="logout()">logout</a>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../client/js/main.controller.js"></script>
  </body>
</html>
