/* index.html */
.container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  display: block;
}

.thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  margin-top: 410px;
  width: 1450px;
}

h3 {
  text-align: center;
  font-style: italic;
}

.as-seen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  margin-top: 520px;
  opacity: 0.4;
  width: 1450px;
}

h2 {
  text-align: center;
  font-style: italic;
}

.logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 1200px;
}

/* student.html */
.btn-circle {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 6px 0;
  font-size: 24px;
  line-height: 1.42;
  border-radius: 1000px;
  margin: 0px 50px 0px 50px;
}

/* teacher.html */
.container-teacher {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

.thumb-teacher {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  height: 413px;
}

.dashboard {
  margin-bottom: 10px;
}

.percentage {
  font-size: 60px;
}

.threshold {
  margin-bottom: 30px;
}

.threshold .text {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.threshold input {
  font-size: 20px;
}

/* dashboard.html */

.back {
  margin-bottom: 10px;
}

/* general */
.nav {
  float: right;
}

a {
  text-decoration: none;
}
