.enabled {
  background-color: lightgreen;
}

.disabled {
  background-color: red;
}

.login {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

.thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginbutton {
  display: block;
}
